.grid {
  display: flex;
  /* flex-direction: column; */
  background-color: whitesmoke;
  width: 540px;
  height: 540px;
}
.gridSuccess {
  display: flex;
  flex-direction: column;
  background-color: rgb(221 221 221);
  color: black;
  width: 540px;
  align-items: center;
  height: 540px;
  justify-content: center;
}

.gameSuccess {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.input {
  width: 180px;
  height: 180px;
  font-size: 160px;
  text-align: center;
  border: 1px solid black;
  color: black;
}
